# Supabase — crea el proyecto en supabase.com
NEXT_PUBLIC_SUPABASE_URL=https://tnjgfrlukfdmismslkmm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRuamdmcmx1a2ZkbWlzbXNsa21tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NDIyNzMsImV4cCI6MjA5MjQxODI3M30.8X_8CCLWzXUkbUQbGaazTcAB8BM4CRx7kyEkqtaSc-g

# Resend — crea cuenta en resend.com y verifica nous.es
RESEND_API_KEY=re_UgXbjKhw_FUP66PNDsGe7Up3u1WFSQZUV
RESEND_FROM_EMAIL=hola@nous.es
